@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 text-center">
        <a href="https://www.jhondev.com/" target="_blank">Website >>> Jhondev.com</a>
    </div>

    <div class="content px-4">
        @Body
    </div>    
</div>

